* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	height: 70px;
	width: 100%;
	padding: 1em;
	position: sticky;
	top: 0;
	z-index: 4;
}

ul {
	
	list-style-type: none;
}

.nav-logo {
	width: 10%;
	float: left;
	margin-left: 10vw;
}

.right-nav {
	float: right;
	width: 47%;
}

.nav {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	text-align: left;
}

.tuitt-button {
	height: 40px;
	width: 120px;
	background-color: #c2195b;
	border-radius: 20px;
	color: white;
	border: none;
	font-weight: bold;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	position: relative;
	height: 40vh;
	width: 100%;
	background-position: center;
	background-size: 100%;
	color: white;
	background-attachment: scroll;
	z-index: 3;
}

#bg-image .front-bg {
	background: rgba(0, 0, 0, 0.5);
	height: 40vh;
	margin-top: ;
}

.front-bg .container {
	color: white;
	text-align: right;
	margin-right: 120px;
	margin-left: 40vw;
}

.container .title, .subtitle {
	font-family: 'Zilla Slab';	
	padding: 1rem;
}

.container .title {
	font-size: 3rem;
}

.container .subtitle {
	font-size: 20px;
	margin-left: 30vh;
}

.container .apply-button {
	background-color: #c2195b;
	width: 150px;
	height: 35px;
	border: none;
	border-radius: 15px;
	color: white;
	margin-right: 20px;
	font-weight: bold;
}

.intro	{
	position: relative;
	top: 10vh;
	text-align: center;
	margin:	10vh 20vh;
	font-family: 'Zilla Slab';
	z-index: 2;
}

.intro .intro-description {
	margin: 10vh 0;
	text-align: justify;
}

.pre-footer {
	position: absolute;
	top: 95vh;
	text-align: center;
	margin:	10vh 0;
	width: 100%;
	height: 30vh;
	font-family: 'Zilla Slab';
	background-color: #f7fbfb;
	z-index: 1;
}

.pre-footer .prefooter-description {
	margin-top: 10vh;
	margin-left: 20vh;
	margin-right: 20vh;
}

.pre-footer .book-button {
	margin: 10px;
	width: 150px;
	height: 35px;
	border: none;
	border-radius: 15px;
	background-color: #336589;
	color: white;
	font-weight: bold;
}

footer {
	position: absolute;
	top: 150vh;
	text-align: center;
	width: 100%;

}






